<h1>
  <%= @contest.title %>
</h1>
<% #開始前 %>
<% if Time.now < @contest.start_time %>
  <%= render partial: "contests/partials/pending_contest",  locals: { products: @products, contest: @contest } %>
<% #投票中 %>
<% elsif Time.now > @contest.start_time and Time.now < @contest.end_time %>
  <%= render partial: "contests/partials/standing_contest", locals: { products: @products, contest: @contest, vote: @vote } %>
<% else %>
<% #結果の表示 %>
  <%= render partial: "contests/partials/finished_contest", locals: { products: @products, contest: @contest, chart: @chart } %>
<% end %>

