
  <% '開始前' %>時間の変更 
  <%= form_for(@contest) do |f| %>
    <label>日付の入力</label>
    <input type="date" name="start_date" class="datepicker">
    <label>時間の入力</label>
    <input type="time" name="start_time" class="datepicker">
    <%= f.submit '開始時間の変更' %>
  <% end %>
