// Place all the styles related to the contests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-panel:hover{
  position:relative;
  top:3px;
  left:3px;
}
div.vote_count, .vote_title, .select, div.timer{
  float:left;
}

.product_register_btn{
  display: inline-block;
  width: auto;
  margin-top: 25px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  background: #1eeb89;
  color: #fff; 
}

.card-list {
  display: flex;
}
._card {
  width: 50px;
  text-align: center;   
  background-color: #f0f0f0;
}
.comma {
  width: 10px;
  text-align: center;   
  background-color: #f0f0f0;    
}

p.collection-content {
  color:black;
}