// Place all the styles related to the contests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-panel:hover{
  position:relative;
  top:3px;
  left:3px;
}
div.vote_count, .vote_title, .select, div.timer{
  float:left;
}
